*{
  margin:0;
  padding:0;
}

$color-primary:#f9ed69; // yellow color
$color-secondary:#f08a5d;
$color-teritary:#b83b5e;
$color-text-dark:#333;
$color-text-light:#eee;

$width-button:150px;

@mixin clearfix {
  &::after{
    content:"";
    clear:both;
    display: table;;
  }
}

@mixin style-link-text($color) {
  text-decoration:none;
  text-transform:uppercase;
  color: $color;
}

// 커스텀 function 만들기
@function divide($a, $b){
  @return $a / $b;
}


nav{
  margin: divide(60,2) * 1px;
  background-color: $color-primary;

  // clearfix
  //  &::after{
  //   content:"";
  //   clear:both;
  //   display: table;;
  // }
  @include clearfix;
}


.navigation{
  list-style:none;
  float:left;

  li{
    display:inline-block;
    margin-left:30px;

    &:first-child{
      margin:0; // & = 현재 selector = .navigation li
    }

    a:link {
      @include style-link-text($color-text-dark);
    }
  }

  // li:first-child{
  //   margin:0;
  // }
}

.buttons{
  float: right;
}

@mixin btn-placeholder-mixin {
  padding:10px;
  display:inline-block;
  text-align:center;
  border-radius: 100px;
  width: $width-button;
  @include style-link-text($color-text-light);
}

// extends
%btn-placeholder {
  padding:10px;
  display:inline-block;
  text-align:center;
  border-radius: 100px;
  width: $width-button;
  @include style-link-text($color-text-light);
}

// extends vs mixin

// ** %btn-placeholder적용 후 css로 컴파일한 결과.
// --> extend한 selector가 복사된다.
// .btn-main:link,
// .btn-hot:link{
//   padding:10px;
//   display:inline-block;
//   text-align:center;
//   border-radius: 100px;
//   width: $width-button;
//   @include style-link-text($color-text-light);
// }

// ** btn-placeholder-mixin 적용 후 css로 컴파일한 결과 --> mixin이 복사된다.
// .btn-main:link{
//   padding:10px;
//   display:inline-block;
//   text-align:center;
//   border-radius: 100px;
//   width: $width-button;
//   @include style-link-text($color-text-light);
// }
//
// .btn-hot:link{
//   padding:10px;
//   display:inline-block;
//   text-align:center;
//   border-radius: 100px;
//   width: $width-button;
//   @include style-link-text($color-text-light);
// }

// 유지보수성을 위해선 의미론적으로 관계가 있는 요소들에 extend를 적용하는 것이 좋다. btn-main, btn-hot처럼.

.btn-main{
  &:link {
    // @include btn-placeholder-mixin;
    @extend %btn-placeholder;
    background-color:$color-secondary;
  }

  &:hover {
    background-color: darken($color-secondary,15%); // darken - sass function
  }
}

.btn-hot{
  &:link {
    @extend %btn-placeholder;
    // @include btn-placeholder-mixin;
    background-color:$color-teritary;
  }

  &:hover {
    background-color: lighten($color-teritary,10%); // darken - sass function
  }
}